{% extends 'base.html' %}

{% block content %}
<h1>Products:</h1>


<form method="POST">
    {{ html_form.hidden_tag() }}

    {{ html_form.shoha }}
    {{ html_form.send_it }}

</form>

<div class="row">
{% if products %}
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ productsPage.image }}" class="card-img-top" alt="{{ productsPage.item }}">
            <div class="card-body">
            <h5 class="card-title">{{ productsPage.item }}</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">{{ article.author }} - {{ article.source.name }}</h6> -->
            <p class="card-text">{{ productsPage.price }}</p>
            <p class="card-text">{{ productsPage.category }}</p>
            <!-- <a href="{{ article.url }}" class="btn btn-primary">Go to Article Page</a> -->
            </div>
        </div>



        <!-- <div class="col d-flex justify-content-center">
    
            <div class="card h-50" style="width: 16rem;">
                <img src="{{ pokemon.sprite }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">{{ pokemon.name.title() }}</h2>
                  <p class="card-text">PokéAbility: {{ pokemon.ability.title() }}</p>
                  <p class="card-text">Featured Move: {{ pokemon.move.title() }}</p>
                  <p class="card-text">HP Base Stat: {{ pokemon.hp_stat }}</p>
                  <p class="card-text">Attack Base Stat: {{ pokemon.attack_stat }}</p>
                  <p class="card-text">Defense Base Stat: {{ pokemon.defense_stat }}</p>
                    
                    <div class="col d-flex justify-content-center">
                  
                      <a href="{{ url_for('pokecatch', pokemonName=pokemon.name) }}" class="btn btn-primary">CATCH!</a>
                    
                    </div>
        
        
                </div>
            </div>
          </div> -->
        

    {% endfor %}
{% endif %}
</div>



{% endblock %}